# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [2]:
numfloat = 2.3
print(numfloat)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [1]:
num1 = 2
num2 = 5.4

result = num1 + num2
print(result)

result += 2
print(result)

7.4
9.4

##### Subtraction

In [5]:
result_diff = num2 - num1

print(result_diff)

3.4000000000000004

##### Multiplication

In [6]:
result_mul = num1 * num2
print(result_mul)

10.8

##### Division

In [7]:
result_div = num2 / num1
print(result_div)

2.7

##### Floor Division

In [9]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 1.7
print(result_floor)

2.0
1.0

##### Modulo

In [10]:
result_mod = num2 % num1
print(result_mod)

1.4000000000000004

##### Exponential

In [12]:
square = 5 ** 2

print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [15]:
name = 'Brandon'
print(name)

Brandon

##### print() <br>
<p>Don't forget about end=' '</p>

In [19]:
print("This is my first name", name)

print("Full name:", name, end=" " "Apol")

This is my first name Brandon
Full name: Brandon Apol

##### String Concatenation

In [23]:
first_name = "John"
last_name = "Smith"
full_name = first_name + " " + last_name
print(full_name)

John Smith

##### Type Conversion

In [25]:
number = "32"
change_type_num = int(number)
print(number)
print(change_type_num + 1)

32
33

##### input()

In [28]:
#input will always return a string
# name = input("What is your name? ")
# print("Nice to meet you, " + name)

age = input("What is your age? ")
add_age = int(age) + 5
print(add_age)

What is your age? 36
41

##### format()

In [30]:
age = input("What is your age? ")
result_string = "You are {} {} and you are getting wiser".format(age, name)
print(result_string)

result_again = f"You are {age} {name}, and you are getting wiser."
print(result_again)

What is your age? 36
You are 36 Jen and you are getting wiser
You are 36 Jen, and you are getting wiser.

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [31]:
color = input("What color is your car? ")
year = input("What year was your car made? ")
make = input("What is the make of your car? ")
model = input("What is the model of your car? ")

car_result = f"Your car is a {color} {year} {make} {model}."
print(car_result)

What color is your car? black
What year was your car made? 2022
What is the make of your car? Kia
What is the model of your car? Carnival
Your car is a black 2022 Kia Carnival.

### If Statements

In [32]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 6

if num1 == 5:
    print("This is true!")
else:
    print("This is false.")

This is false.

##### 'is' keyword

##### 'in' keyword

##### 'not in' keyword'

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [33]:
name = input("What is your name? ")

if "p" in name:
    print("You have at least one 'p' in your name.")
else:
    print("You have no p's in your name.")

What is your name? Jennifer Chan
You have no p's in your name.

## Using 'and'/'or' with If Statements

### Elif Statements

### Else Statements

In [ ]:
# see above

### For Loops

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

##### Break Statement

In [ ]:
# will break out of current loop

In [34]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

##### Double For Loops

In [35]:
for i in range(5):
    for j in range(5):
        print("i =", i, "j =", j)

i = 0 j = 0
i = 0 j = 1
i = 0 j = 2
i = 0 j = 3
i = 0 j = 4
i = 1 j = 0
i = 1 j = 1
i = 1 j = 2
i = 1 j = 3
i = 1 j = 4
i = 2 j = 0
i = 2 j = 1
i = 2 j = 2
i = 2 j = 3
i = 2 j = 4
i = 3 j = 0
i = 3 j = 1
i = 3 j = 2
i = 3 j = 3
i = 3 j = 4
i = 4 j = 0
i = 4 j = 1
i = 4 j = 2
i = 4 j = 3
i = 4 j = 4

### While Loops

In [44]:
# Syntax:
# While keyword, condition statement

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [40]:
# DON'T USE

game_over = True

while game_over:
    print("Infiite Loop")
    user_input = input("Would you like to stop? ")
    if user_input == "yes":
        game_over = False

Infiite Loop
Would you like to stop? No
Infiite Loop
Would you like to stop? No
Infiite Loop
Would you like to stop? k
Infiite Loop
Would you like to stop? si
Infiite Loop
Would you like to stop? Yes
Infiite Loop
Would you like to stop? yes

##### While & For Loops Used Together

In [ ]:
num = 0

while num < 5:
    print("\nWhile loop iteration: " + str(num))
    
    for i in range(2):
        print("For loop iteration: " + str(i + 1))
        
    num += 1

### Built-In Functions

##### range()

##### len()

In [2]:
name = "Max"
length = len(name)

print(length)

3

##### help()

In [ ]:
print(abs(-5))

##### isinstance()

In [3]:
num = input("Pick a number: ")
if isinstance(int(num), int): #Would have to write more code because 
    print(f"{num} is an integer") #you can't make a float an int
else:
    print(f"{num} is a float")

Pick a number: 4
4 is an integer

##### abs()

In [4]:
# |-5| = 5

print(abs(-5))

5

### Try and Except

In [8]:
try:
    input_num = int(input("Guess a number! "))
    print('Your number is ' + str(input_num))
except:
    print("That didn't work! Change your input to a number")

Guess a number! 5
Your number is 5

### Lists

##### Declaring Lists

In [19]:
list_1 = []

names = ['max', 'cindy', 'kathy', 'bob', 'nate']
print(names)

['max', 'cindy', 'kathy', 'bob', 'nate']

##### Indexing a List

In [10]:
print(names[0])

max

##### .append()

In [22]:
names.append('brandon')
print(names)

['max', 'cindy', 'kathy', 'bob', 'nate', 'brandon', 'brandon', 'brandon']

##### .insert()

In [24]:
names.insert(3, 'devon')
print(names)

['max', 'cindy', 'kathy', 'devon', 'devon', 'bob', 'nate', 'brandon', 'brandon', 'brandon']

##### .pop()

In [14]:
# Defaults to the last value if no parameter is given
# pop returns the element that is removed in case you want to assign it to a variable

my_name = names.pop(2)
print(my_name)
print(names)

kathy
['max', 'cindy', 'devon', 'bob', 'nate', 'brandon', 'brandon']


##### .remove()

In [26]:
# Value to be removed instead of the index

names.remove('bob')
print(names)

while 'brandon' in names:
    names.remove('brandon')
print(names)

['max', 'cindy', 'kathy', 'devon', 'devon', 'nate']
['max', 'cindy', 'kathy', 'devon', 'devon', 'nate']

##### del()

In [28]:
# Goes by index rather than value

del(names[1])
print(names)

['max', 'kathy', 'devon', 'devon', 'nate']

##### Concatenating Two Lists

In [30]:
# Appends two lists together. Will NOT add values

list_2 = [0, 1, 2]
list_3 = [3, 4, 5]
large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [58]:
names = ['max', 'sam', 'josh', ['sally', 'sue', 'tameka']]
print(names[3][1])

sue

##### Looping Through Lists

In [57]:
# Two ways to loop through a list: One is by index and the other is using the 'in' keyword

#By index
for i in range(len(names)):
    print(names[i])
    
# Loop with 'in'
for i in names:
    print(i)

max
sam
josh
['sally', 'sue', 'tameka']
max
sam
josh
['sally', 'sue', 'tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [50]:
num = 1

while num > 0:
    num_cubed = num ** 3
    print(num_cubed)
    if num_cubed == 1000:
        break
    num += 1

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [75]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
        
for num in range(1, 101):
    for i in range(2, num):
        if (num % i == 0):
            break
    else:
        print(num)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [83]:
user_age = int(input("What is your age? "))

if user_age < 18:
    print('kids')
elif user_age >=18 and user_age <= 65:
    print('adults')
else:
    print('seniors')

What is your age? 99
seniors